<%- include('../partials/head') %>
        <title>Home Page</title>
    </head>
    <body>
        <center><h1>This is a homepage.</h1>
            <p>Hello <%= name %>!</p>
        </center>
    </body>
    <a href="./recipe">Recipes</a>
    <a href="./addRecipe">Create a new recipe</a>
    <br><br><br><br><br>
    <a href="https://www.youtube.com/watch?v=Kppx4bzfAaE&list=RDKppx4bzfAaE&start_radio=1&pp=ygUQcmFwcGluIGZvciBqZXN1c6AHAdIHCQm-CgGHKiGM7w%3D%3D"><img src="popup.png"></a>
    <a href="https://cornhub.website"><img src="popup2.jpg" stye="width: 200px;"></a>
</html>
