<%- include('../partials/head') %>
        <title>Home Page</title>
    </head>
    <body>
        <center>
            <h1>Welcome to reseepee</h1>
            <p>My favorite food is bratwurst. I am proficient in the making of ramen and Cup Noodles.</p>
            <p>I have a summer's experience at Subway, and I have been learning to cook in preparation for graduation.</p>
            <a class="button" href="./recipeList" style="margin-right: 20px;">Recipes</a>
            <a class="button" href="./addRecipe" style="margin-left: 20px;">Create a new recipe</a>
            <br><br><br><br><br>
            <a href="https://www.youtube.com/watch?v=Kppx4bzfAaE&list=RDKppx4bzfAaE&start_radio=1&pp=ygUQcmFwcGluIGZvciBqZXN1c6AHAdIHCQm-CgGHKiGM7w%3D%3D" style="margin-right: 100px;"><img src="popup.png"></a>
            <a href="https://cornhub.website" style="margin-right: 100px;"><img src="popup2.jpg"></a>
        </center>
    </body>
<%- include('../partials/foot') %>
