<%- include('../partials/head') %>
</head>
<body>
    <ul>
        <% recipes.forEach((recipe)=> { %>
            <li>
                <a href="./recipe/<%=recipe%>"><%=recipe.RecipeName%></a>
            </li>
        <% }) %>
    </ul>
</body>
</html>
<%- include('../partials/foot') %>
