<%- include('../partials/head') %>
</head>
<body>
    <ul>
        <% recipes.forEach((recipe)=> { %>
            <li>
                <%# Should be categorized by protein type %>
                <%# style="border: 2px solid black;" %>
                <a href="./recipe/<%=recipe.RecipeID%>"><%=recipe.RecipeName%></a>
            </li>
        <% }) %>
    </ul>
<%- include('../partials/foot') %>
